/*login page begin*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #26A2AE;
}

.login-panel{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-panel p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.login-panel input{
    margin-top: 20px;
}

/*login page end*/